<form action="/contacto" method="post" class="formulario">
    <p>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre">
    </p>
    <p>
        <label for="email">email</label>
        <input type="text" name="email">
    </p>
    <p>
        <label for="telefono">telefono</label>
        <input type="text" name="tel">
    </p>
    <p>
        <label for="mensaje">mensaje</label>
        <textarea name="mensaje"></textarea>
    </p>

<p class="acciones"><input type="submit" value="Enviar"/></p>

</form>

{{ message }}