<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
      <nav>
    <ul>
        <li> <a href="/nosotros">nosotros</a></li>
        <li> <a href="/servicios">servicios</a></li>
        <li> <a href="/contacto">contacto</a></li>
    </ul>
</nav>
    {{{body}}}
  </body>
</html>
