.Contenedor{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    border: 1px solid black;
    width: 400px;
    justify-content: center;
}

.item1{
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
    font-weight: bolder;
    text-align: center;
       
}

.item2{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    text-align: center;
    }

.item3{
    height: 100px;
    width: 100px;
    background-color: green;
    color: white;
    font-weight: bolder;
    text-align: center;
}